.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
  .navbar{
        height: 100%;
        border-bottom: 2px solid rgba(180, 131, 33, 0.5);
        background-color: white;
      }
  .imagen{
    height: 100%;
    width: 11%;
  }
  .fixed-toolbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; 
  }
  mat-icon{
    margin-right: 3%;
    font-size: 46px;
    color:rgba(180, 131, 33, 1) ;
  }
  button {
    margin-right: 28px; /* Ajusta el valor según el espacio que desees */
  }