/* Estilo para el contenedor de productos */
.product-list {
  text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    margin-top: 7%;
    margin-bottom: 7%;
  }
  
  /* Estilo para el elemento del producto */
  .product-item {
    height: 400px;
    color: #b48321;
    width: 263px;
  }
  img {
    width: 294px;
    height: 208px;

  }
  .button{
    border: 1px solid;
    border-color: #b48321;
    ;
  }